.info {
    font-weight: 700;
    font-size: calc(20px + 30 * (100vh/1920));
    color: #000;
    text-align: center;
}

.info span{
    color: #186af7;
}

h2{
    margin: 0
}

.btn-block {
    display: flex;
    justify-content: center;
    column-gap: 26px;
    margin-top: 22 px;
}

.btn-dec {
    padding: 15px 14px;
    border: 3px solid #186af7;
    border-radius: 12px;
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    color: #186af7;
    cursor: pointer;
}

.info__courses{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.info__input{
    border: 2px solid #186af7;
    border-radius: 6px;
    width: 80%;
    height: 52px;
    background: transparent;
    font-size: 20px;
}

.btn__course{
    padding: 15px 30px;
    background-color: #186af7;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    font-size: 18px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color: white;
    cursor: pointer;
}